.payment-status {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  text-align: left;
  margin-left: 20px;
  }
  
  .carte-bleue-div {
    /* Center div */
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    /* Style */
    margin-top:60px;
  }

  .payment-button {
    text-align: right;
    margin-right: 380px;
    margin-top: 20px
  }